html, body {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: .9rem;
  background-image: url('../images/stained.jpg');
  background-size: 100%;
}

#header {
  text-decoration: underline;
}

.button-container {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
} 

.button-container button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .25);
  color: white;
  font-size: .7rem;
}

#input-options button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .25);
  color: white;
  font-size: .7rem;
}

button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .25);
  color: white;
  font-size: .7rem;
}

input {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .25);
  color: white;
  font-size: .5rem;
}

::-webkit-input-placeholder {
  font-size: .9rem;
  color: white;
}

.body-container {
  margin-right:  60%;
  margin-left: 20%;
  margin-top: 1.5%;
  font-size: .9rem;
  font-family: 'Rock Salt', cursive;
}

.body-container div {
  margin-top: 1%;
}

.quote-container {
margin-bottom: 10%;
}

.quote-text {
text-align: left;
background-color: rgba(255, 255, 255, .5);
/*background-image: url('../images/ancient.png');*/
border-radius: 5px;
min-height: 24px;
/*opacity: 0.5;*/
}

.quote-author {
  text-align: right;
  /*margin-top: 100px;*/
  /*margin-right: 50%;*/
}

.fa-trash {
  margin-left: 1%;
  cursor: pointer;
}

i:hover {
  
}




